extends layout
include p/mixins

block content
	a.pull-left.btn.btn-primary(href='#{model.path}/add') Add a New #{model.label.replace(/s$/, '')}...
	//- console.log(model)
	form.form-inline.pull-right(role='form')
		each v, n in urlQuery
			- if ('q'==n) continue;
			input(type='hidden', name=n, value=v)
		.form-group
			label.sr-only(for='penguin-search-q') Search
			input(type='text', id='penguin-search-q', name='q', placeholder='Search...', value=urlQuery.q)

			button.btn.btn-primary(type="submit") Search!


	table.table.table-hover.table-condensed
		thead
			tr
				th: input(type='checkbox')
				each field in model.fields
					if -1 != field.$p.display.indexOf('l')
						th
							- var sortParam = field.path
							if urlQuery.sort == field.path
								| &uArr;
								- sortParam = '-'+sortParam
							else if urlQuery.sort == '-'+field.path
								- sortParam = ''
								| &dArr;
							a(href=getQueryString({sort:sortParam}))=t(field.$p.label)
				if model.rowActions.length
					th &nbsp;

		tbody
			each row in docs
				tr(data-id=row.id, class=row.$pTableRowClass)
					td
						input(type='checkbox')
						a.btn.btn-link(href='#{model.path}/#{row.id}') Edit
					each field in model.fields
						- var fieldValue = row[field.path]
						- if (-1 == field.$p.display.indexOf('l')) continue;
						if 'ObjectID' == field.instance && fieldValue
							td
								a(href='#{field.$p.getRefModel().path}/#{fieldValue._id}')=fieldValue.$pTitle
						else if fieldValue instanceof Date
							td(title=fieldValue)=fieldValue.toISOString().substr(0, 19).replace('T', ' ')
						else
							//- console.log (field.options.type.name)
							td=fieldValue
					if model.rowActions.length
						td
							+displayActions(model.rowActions, {displayCB: function(action){return (!action.displaysFor) || action.displaysFor(row);}})


	if model.pageActions.length
		hr
		.page-actions With Selected:
			+displayActions(model.pageActions)




	hr
	.clearfix
		.pull-left
			p: em Displaying records 
				=(pagination.current-1)*pagination.options.perPage+1
				|  to 
				=(pagination.current-1)*pagination.options.perPage+docs.length
				|  out of 
				=pagination.count
				|  total documents.
			ul.pagination
				li
					a(href=getQueryString({p:1})) &laquo;
				each pNumber in pagination.pages
					li(class=(pNumber==pagination.current)?'active':'')
						a(href=getQueryString({p:pNumber}))=pNumber
				li
					a(href=getQueryString({p:pagination.last})) &raquo;
		if model.setActions.length
			.pull-right.set-actions
				+displayActions(model.setActions)
