extends layout

block content
	a.pull-left.btn.btn-primary(href='#{model.path}/add') Add a New #{model.label.replace(/s$/, '')}...
	//- console.log(model)
	form.form-inline.pull-right(role='form')
		each v, n in urlQuery
			- if ('q'==n) continue;
			input(type='hidden', name=n, value=v)
		.form-group
			label.sr-only(for='penguin-search-q') Search
			input(type='text', id='penguin-search-q', name='q', placeholder='Search...', value=urlQuery.q)

			button.btn.btn-primary(type="submit") Search!


	table.table.table-striped.table-hover
		thead
			tr
				th #
				each field in model.fields
					if -1 != field.$p.display.indexOf('l')
						th
							- var sortParam = field.path
							if urlQuery.sort == field.path
								| &uArr;
								- sortParam = '-'+sortParam
							else if urlQuery.sort == '-'+field.path
								- sortParam = ''
								| &dArr;
							a(href=getQueryString({sort:sortParam}))=t(field.path)

		tbody
			each row in docs
				tr(data-id=row.id, class=row.$pTableRowClass)
					td
						a(href='#{model.path}/#{row.id}') Edit
					each field in model.fields
						- if (-1 == field.$p.display.indexOf('l')) continue;
						if 'ObjectID' == field.instance && row[field.path]
							td
								a(href='#{field.$p.getRefModel().path}/#{row[field.path]._id}')=row[field.path].$pTitle
						else
							td=row[field.path]

	hr
	p: em Displaying records 
		=(pagination.current-1)*pagination.options.perPage+1
		|  to 
		=(pagination.current-1)*pagination.options.perPage+docs.length
		|  out of 
		=pagination.count
		|  total documents.
	ul.pagination
		li
			a(href=getQueryString({p:1})) &laquo;
		each pNumber in pagination.pages
			li(class=(pNumber==pagination.current)?'active':'')
				a(href=getQueryString({p:pNumber}))=pNumber
		li
			a(href=getQueryString({p:pagination.last})) &raquo;