include p/mixins
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		each style in statics.css
			link(href=style, rel='stylesheet', type='text/css')

	body
		+getViewBlock('layout.body_start')
		.navbar.navbar-inverse.navbar-embossed
			.container-fluid
				+menu(menus.main, 'nav navbar-nav navbar-left')
				!=menuExtraHTML
		+getViewBlock('layout.below_top_menu')

		.container-fluid
			+getViewBlock('layout.above_content')

			if breadcrumbs
				ol.breadcrumb
					each b in breadcrumbs
						if b[0]
							li: a(href=b[0])=b[1]
						else
							li.active=b[1]


			+getViewBlock(templateName+'.above_content')
			if flashMessages
				each m in flashMessages
					.alert(class='alert-#{m.type}')!=m.body
			block content
			+getViewBlock(templateName+'.below_content')
			+getViewBlock('layout.below_content')

		+getViewBlock('layout.body_end')
		each script in statics.js
			script(src=script, type='text/javascript')

				
			
		