doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title
		each style in statics.css
			link(href=style, rel='stylesheet', type='text/css')

	body
		.navbar.navbar-inverse.navbar-embossed
			ul.nav.navbar-nav.navbar-left
				li
					a(href=mountPath) Home
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href='#')
						| Sections
						span.caret
					span.dropdown-arrow
					ul.dropdown-menu(role=menu)
						each model in models
							if !model.hide
								li
									a(href='#{mountPath}/#{model.slug}')=model.label


		.container-fluid
			block content

		each script in statics.js
			script(src=script, type='text/javascript')
				
			
		